.plos-collections .global-nav .wrap {
    padding: 0 0.3rem;
    border-top: 3px solid #999;
}
.plos-collections .global-nav {
    padding: 0 0.3rem;
    background-color: transparent;
}
.plos-collections .global-nav a {
    color: $darker-gray;
    font-family: georgia;
    font-size: 12px;
    font-size: 0.7rem;
    padding: 0.5rem 0.8rem;
    text-transform: uppercase;
}