.blogroll {
  padding-left:0;
  padding-top:0;
}

.blogroll .widget-title {

}

.sidebar.widget-area .blogroll ul li {
  margin-bottom:10px;
}

.blogroll ul li a {
  color:#34529A;
  font-family: 'Open Sans', Arial, sans-serif;
  font-size:14px;
  line-height:2px;
}
