embed,
img,
object,
video {
	max-width: 100%;
}

img {
	height: auto;
}

.alignleft .avatar {
	margin-right: 24px;
	margin-right: 1.5rem;
}

.alignright .avatar {
	margin-left: 24px;
	margin-left: 1.5rem;
}

.author-box .avatar {
	float: left;
	margin-right: 24px;
	margin-right: 1.5rem
}

.comment-list li .avatar {
	float: left;
	margin: 0 16px 24px 0;
	margin: 0 1rem 1.5rem 0;
}

img.centered,
.aligncenter {
	display: block;
	margin: 0 auto 24px;
	margin: 0 auto 1.5rem
}

img.alignnone {
	display: inline;
	margin-bottom: 12px;
	margin-bottom: 0.75rem;
}

a.alignleft,
.post-image,
.wp-caption.alignleft,
.widget .wpp-thumbnail {
	display: block;
	margin: 0 13px 0 0;
	margin: 0 0.7rem 0 0;
}
a.alignright,
.wp-caption.alignright {
	display: block;
	margin: 0 0 24px 24px;
	margin: 0 0 1.5rem 1.5rem;
}
.alignleft img, .alignright img {
    display: block;
    margin: 0 auto;
    width: 100%;
}
img.alignleft {
    margin: 1rem 1rem 1rem 0;
}
img.alignright {
    margin: 1rem 0 1rem 1rem;
}
img.aligncenter {
    margin: 1rem auto;
}
p.wp-caption-text,
figcaption.wp-caption-text {
	line-height: 1.2;
	margin-top: 0.75rem;
	margin-bottom: 0.75rem;
	text-align:left;
	font-style:italic;
	font-size:10px;
}
.alignleft.no-thumb {
    display: block;
    height: 60px;
    width: 60px;
}
.post > img {
	margin-bottom:15px;
}
