/* 04i - Image Widget ----------- */
.sidebar .widget.widget_sp_image {
    background: #2a2a2a none repeat scroll 0 0;
    height: height;
    margin-bottom: 2rem;
    padding-bottom: 1.5rem;
}
.widget_sp_image .widget-wrap {
    padding: 1.0725rem 1.5rem 0rem 1.5rem;
}
.widget.widget_sp_image .widget-title {
    color: #fff;
    // padding: 1.0725rem 0 0 1.39rem;
}
.widget_sp_image-image-link {
    display: block;
}
.widget_sp_image-description {
    display: none;
}