/* 04d - Main Content ----------- */
.page-header {
    margin-bottom: 15px;
    margin-bottom: 1rem;
}
.entry-content > p {
    color: $darker-gray1;
    font-family: Arial, sans-serif;
    font-size: 0.8125rem;
    line-height: 1rem;
}
header.page-header {
  border: none;
}